@model MvcApplication1.Models.RegistrationModel
@Styles.Render("~/Content/registration.css")

@{
    ViewBag.Title = "Registration";
}
<div id="main">
    <div class="container">
        <div class="row main-form">
            <form method="POST" role="form" class="form-horizontal">
                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Ваше имя: </label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="name" id="name" placeholder="Введите ваше имя" / >
                        </div>
                        @Html.ValidationMessageFor(model => model.Name, "", new { @style = "color:black; font-weight: bold" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Ваша почта</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="email" id="email" placeholder="Введите вашу почту" />
                        </div>
                        @Html.ValidationMessageFor(model => model.Email, "", new { @style = "color:black; font-weight: bold" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Ваш пароль</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Введите Ваш пароль" />
                        </div>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @style = "color:black; font-weight: bold" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirm_password" class="cols-sm-2 control-label">Повторите пароль</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Введите Ваш пароль" />
                        </div>
                        @Html.ValidationMessageFor(model => model.confirm_password, "", new { @style = "color:black; font-weight: bold" })
                    </div>
                </div>
                <div class="form-group ">
                    <input type="submit" id="register" value="Регистрация" class="btn btn-primary btn-lg btn-block login-button"></input>
                </div>
            </form>
            <h6 class="error_message_razor">
                @ViewData["ErrorMessage"]
            </h6>
        </div>
    </div>
</div>
